*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;

}

button{
    padding: 20px 50px;
    font-size: x-large;
    background-color: white;
    border: 1px solid black;
    width: 60%;
    border-radius: 30px;
    color: black;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.logo{
    width: 50vw;
    position: absolute;
    top: 40px;
}

.title{
    position: absolute;
    top: 25vh;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}